html,
body {
  height: 100%;
}

.container {
  min-height: 100%;
  position: relative;
}

main {
  padding-bottom: 50px; /* Höhe des Footers */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px; /* Höhe des Footers */
  background-color: #333;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #fff;
  font-size: 14px;
  text-align: center;
}
