.footer {
    
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;


}

.footer-text {
    color: #fff;
    font-size: 14px;
    text-align: bottom;
    height: 60px; /* Höhe des Footers */
    position: relative;
    margin-top: -60px; /* negative margin-top um den Footer nach oben zu verschieben */
    clear: both;
}
